body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
  color: #fff !important;
}

h1, h2, h3, h4 {
  color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main_page .ant-select-open .ant-select-selection-item {
  opacity: .08 !important;
  color: #141414 !important;
}